form {
  input {
    margin-right: 1rem;
    padding: 1rem 0 1rem 1rem;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    width: 350px;
  }

  button {
    padding: 1rem 1.5rem;
    color: white;
    background-color: #61dbfb;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
