.toggle-button {
  padding: 1rem;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.3rem;
  user-select: none;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: translateY(1px);
  }

  &--dark {
    background: black;
    color: white;
  }

  &--light {
    background: white;
    color: black;
  }
}
