header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid #8d9196;

  time {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .status {
    color: #61dbfb;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
