header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid #8d9196;

  time {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.5rem;
    color: var(--tertiary-color);
    font-size: 1.6rem;
    font-weight: 600;
  }
}
