:root {
  --primary-color: #393f49;
  --secondary-color: #61dbfb;
  --tertiary-color: white;
  --danger-color: red;
  --success-color: green;
}

[data-theme="dark"] {
  --primary-color: white;
  --secondary-color: #61dbfb;
  --tertiary-color: #393f49;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', 'Inter', sans-serif;
  box-sizing: border-box;
}

// dont put fonts in public folder, doesn't support hashing
@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: local('Quicksand'), url(../fonts/Quicksand-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  src: local('Quicksand'),
    url(../fonts/Quicksand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: lighter;
  src: local('Quicksand'), url(../fonts/Quicksand-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  src: local('OpenSans'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(../fonts/OpenSans-Italic.ttf) format('truetype');
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;

  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin: 3rem 0;

    h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 5rem;
    }
  }

  .container {
    width: 850px;
    height: 550px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 4rem;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }
}
