nav {
  .nav-link {
    font-size: 1.6rem;
    color: #8d9196;
    text-decoration: none;
    margin-right: 5rem;

    &--active {
      color: var(--tertiary-color);
      font-weight: bold;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
